<main class="center" role="main">
  <section class="row main-title">
    <div class="col-md-12">
      <img src="{{ asset('icon_monCompte.svg', 'local_icons')}}"  class="page-title-img">
      <h2>{{ 'user.profile.change_password'|trans }}</h2>
    </div>
  </section>
  <section class="row lt-px-auto">
    <div class="col-lg-5 col-md-6 form-container">
      {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
      {{ form_widget(form) }}
      <div class="self-center-item">
        <button class="btn btn-prime" id="_submit" type="submit">{% trans from "FOSUserBundle" %}change_password.submit{% endtrans %}</button>
      </div>
      {{ form_end(form) }}
    </div>
  </section>
</main>
