{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %}
    {{ 'admin.network.network_new'|trans }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/multi-select.min.css', 'multiselect') }}"/>
    {{ parent() }}
{% endblock %}

{% block content %}
    <!-- BREADCRUMB-->
    <section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="{{ path('network_index') }}">
                                            <i class="fe fe-home"></i>
                                            {{ 'admin.network.network_list'|trans }}</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">{{ 'admin.network.network_new'|trans }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END BREADCRUMB-->

    <section class="form-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                {% include 'admin/network/_form.html.twig' with {
                    "title" : 'admin.network.network_new' | trans
                } %}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- cdn -->
    <script src="{{ asset('quicksearch/jquery.quicksearch.js', 'admin_vendor') }}"></script>
    <script src="{{ asset('js/jquery.multi-select.min.js', 'multiselect') }}"></script>
    <script src="{{ asset('selectize/selectize.min.js', 'admin_vendor') }}"></script>
    <!-- Main JS-->
    <script>
        $(document).ready(function () {
            $('.js-multiselect-selector').each(function () {
                $(this).multiSelect({
                    keepOrder: true,
                    selectableHeader: "<input type='text' class='form-control selectable-input mb-2' autocomplete='off' placeholder='{{ 'admin.common.search'|trans }}'>",
                    selectionHeader: "<input type='text' class='form-control selectable-input mb-2' autocomplete='off' placeholder='{{ 'admin.common.search'|trans }}'>",
                    afterInit: function (ms) {
                        var that = this,
                            $selectableSearch = that.$selectableUl.prev(),
                            $selectionSearch = that.$selectionUl.prev(),
                            selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                            selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';
                        console.log(selectableSearchString);
                        that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                            .on('keydown', function (e) {
                                if (e.which === 40) {
                                    that.$selectableUl.focus();
                                    return false;
                                }
                            });
                        console.log(selectionSearchString);
                        that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                            .on('keydown', function (e) {
                                if (e.which == 40) {
                                    that.$selectionUl.focus();
                                    return false;
                                }
                            });
                    },
                    afterSelect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    },
                    afterDeselect: function () {
                        this.qs1.cache();
                        this.qs2.cache();
                    }
                });
            });

            $('.js-select-selector').selectize();
        });
    </script>
{% endblock %}
