
<!-- search form -->
{% trans_default_domain 'admin' %}
<!-- DATA TABLE -->
  <div class="card">
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th>{{ pagination_sortable(holidays, 'admin.holidays.title'|trans, 'holiday.title') }}</th>
            <th>{{ pagination_sortable(holidays, 'admin.common.start_date'|trans, 'holiday.startDate') }}</th>
            <th>{{ pagination_sortable(holidays, 'admin.common.end_date'|trans, 'holiday.endDate') }}</th>
            <th></th>
          </tr>
          <tr class="spacer"></tr>
        </thead>
        <tbody>
          {% for holiday in holidays %}
            <tr>
              <td>{{ holiday.title }}</td>
              <td>{{ holiday.startDate|date('d-m-Y H:i:s') }}</td>
              <td>{{ holiday.endDate|date('d-m-Y H:i:s') }}</td>
              <td>
                <div class="table-data-feature">
                  <a href="{{ path('admin_holidays_show', {'id': holiday.id}) }}" class="item" data-toggle="tooltip" data-placement="top" title="{{ 'admin.common.action.show'|trans }}" data-original-title="More">
                    <i class="zmdi zmdi-eye"></i>
                  </a>
                  <a href="{{ path('admin_holidays_edit', {'id': holiday.id}) }}" class="item" data-toggle="tooltip" data-placement="top" title="{{ 'admin.common.action.edit'|trans }}" data-original-title="More">
                    <i class="fe fe-edit mr-1"></i>
                  </a>
                  {% include 'admin/holidays/_delete_form.html.twig' %}
                </div>
              </td>
            </tr>
          {% else %}
            <tr class="odd">
              <td valign="top" colspan="7" class="text-center">{{ 'admin.paginator.empty_table'|trans|raw }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer p-0">
      <div class="d-flex align-items-center p-2">
        <div class="mr-auto p-2">
          {{ pagination_info(holidays) }}
        </div>
        <div class="p-2">

          {{ knp_pagination_render(holidays) }}
        </div>
      </div>
    </div>
  </div>
