{% trans_default_domain 'admin' %}

<div class="card">
  {{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="card-header">
    {{ 'admin.extract.extract_menu'|trans }}
  </div>
  {% for type, message in app.session.flashbag.get('no_invoice_found') %}
    <div class="card-alert alert alert-warning mb-0">
      <i class="fas fa-exclamation-circle mr-2" aria-hidden="true"></i>
      {{ message }}
    </div>
  {% endfor %}
  <div class="card-body">
    <div class="form-label">{{ 'admin.invoice.extract'|trans }}</div>
    <div class="table-responsive">
      <table class="table mb-0">
        <thead>
          <tr>
            <th class="pl-0">{{ form_label(form.user) }}</th>
            <th>Date</th>
            <th class="pr-0">{{ form_label(form.paymentType) }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pl-0">
              {{ form_widget(form.user) }}
            </td>
            <td>
              {{ form_widget(form.date) }}
            </td>
            <td class="pr-0">
              {{ form_widget(form.paymentType) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-right">
    {{form_widget(form.zip)}}
    {{form_widget(form.excel)}}
  </div>
  {{form_end(form)}}
</div>
