{% trans_default_domain 'admin' %}

<div class="card">
  <div class="card-header">
    <h3 class="card-title">{{'admin.order.order'|trans}}</h3>
    <div class="card-options">
      <a target="_blank" href="{{ path('admin_order_show', {'id': order.id}) }}" class="btn btn-primary btn-sm">
        <i class="fe fe-eye"></i>
        {{ 'admin.common.action.show'|trans }}
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table table-top-campaign">
          <tbody>
            <tr>
              <td>{{ 'admin.order.id'|trans }}</td>
              <td>{{ "%06s"|format(order.orderNumber) }}</td>
            </tr>
            <tr>
              <td>{{ 'admin.common.status'|trans }}</td>
              <td>{{ order.orderStatus|trans }}</td>
            </tr>
            <tr>
              <td>{{'admin.common.last_update'|trans}}</td>
              <td>{{ order.updatedAt|date('d/m/Y H:i:s')|default('admin.common.none'|trans) }}</td>
            </tr>
            <tr>
              <td>{{'admin.order.payment_date'|trans}}</td>
              <td>{{ order.paymentDate|date('d/m/Y H:i:s')|default('admin.common.none'|trans) }}</td>
            </tr>
            <tr>
              <td>{{'admin.order.deliverance_date'|trans}}</td>
              <td>{{ order.deliveranceDate ? order.deliveranceDate|date('d/m/Y')|default('admin.common.none'|trans) : '' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 border-left">
        <table class="table table-top-campaign">
          <tbody>
            <tr>
              <td>{{'admin.order.amount'|trans}}</td>
              <td>{{ order.totalAmount|price }}</td>
            </tr>
            <tr>
              <td>{{'admin.order.tax'|trans}}</td>
              <td>{{ order.taxPercentage|default('00') ~ " %" }}</td>
            </tr>
            <tr>
              <td>{{'admin.order.reduction_on_pictures'|trans}}</td>
              <td>{{ order.totalReductionOnPictures|default('00') ~ 'admin.common.unit.image'|trans }}</td>
            </tr>
            <tr>
              <td>{{'admin.order.reduction_amount'|trans}}</td>
              <td>- {{ order.totalReductionAmount|default('00')|price }}</td>
            </tr>
            <tr>
              <td>{{'admin.order.amount_final'|trans}}</td>
              <td><i class="fas fa-equals"></i> {{ order.amountIncludingTaxAfterReduction|price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
