{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %}{{'admin.delivery_time.delivery_time_new'|trans}}
{% endblock %}

{% block content %}
  <!-- BREADCRUMB-->
  <section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="au-breadcrumb-content">
              <div class="au-breadcrumb-left">
                <ul class="list-unstyled list-inline au-breadcrumb__list">
                  <li class="list-inline-item active">
                    <a href="{{ path('admin_delivery_time_list') }}">
                      <i class="fe fe-home"></i>
                      {{'admin.delivery_time.delivery_time_list'|trans}}</a>
                  </li>
                  <li class="list-inline-item seprate">
                    <span>/</span>
                  </li>
                  <li class="list-inline-item">{{'admin.delivery_time.delivery_time_new'|trans}}</li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END BREADCRUMB-->
  <section class="form-content">
    <div class="section__content section__content--p30">
      <div class="container-fluid" id="js-delivery-time-section">
        {{ include('admin/delivery_time/_form.html.twig') }}
      </div>
    </div>
  </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
  <!-- custom js -->
  <script src="{{ asset('delivery-time.min.js', 'admin_js') }}"></script>
  <!-- Main JS-->
  <script>
      (function($) {
          // USE STRICT
          "use strict";

          var $deliveryTime = new DeliveryTime($('#js-delivery-time-section'));

      })(jQuery);
  </script>
{% endblock %}