<nav
  id="js-pagination"
  aria-label="Page navigation js-pagination"
  data-page-parameter-name="{{ page_parameter_name }}"
  data-route="{{ url(route) }}"
  data-leaps="{{ leaps }}"
  data-max-visible="{{ max_visible }}"
  data-page="{{ page }}"
  data-total-page="{{ total_page }}"></nav>
