{% trans_default_domain 'admin' %}

<!-- DATA TABLE -->
{% for transaction in transactions %}
    <tr>
        <td><a href="{{ path('admin_transaction_show', {'id': transaction.id}) }}">{{ "#%06s"|format(transaction.transactionNumber) }}</a></td>
        <td>
            <div>{{ transaction.client.fullName }}</div>
            <div class="small text-muted">
                <span class="status-icon bg-success"></span> {{ transaction.client.lastLogin|time_ago_in_words }}
            </div>
        </td>
        <td>{{ transaction.date ? transaction.date|date('d-m-Y H:i:s') : '' }}</td>
        <td>{{ transaction.amount|price }}</td>
        <td>{{ transaction.status }}</td>
        <td>
            <div class="table-data-feature">
                <a href="{{ path('admin_transaction_show', {'id': transaction.id}) }}" class="item"
                   data-toggle="tooltip" data-placement="top" title="{{ 'admin.common.action.show'|trans }}"
                   data-original-title="More">
                    <i class="zmdi zmdi-eye"></i>
                </a>
            </div>
        </td>
    </tr>
{% else %}
    <tr class="odd">
        <td valign="top" colspan="7" class="text-center">{{ 'admin.paginator.empty_table'|trans|raw }}</td>
    </tr>
{% endfor %}
<!-- DATA TABLE -->
